*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4;
  font-size: 16px
}
#navi-header{
  background-color:rgb(40,44,52);
}
.wrapper{
  width: 90%;
  margin: auto;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
 }
